# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# Database
*.db

# Upload folders
uploads/
temp_govt_documents/

# Vector Database
chroma_db/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db